.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-grid {
  display: flex;
  flex-flow: wrap;
  margin-top: -6rem !important;
}

.table-panel {
  margin: 0 2vw 5vh 0;
  text-align: center;
}

.center-left-td {
  border-right: 1px solid #e9ecef;
}

.tabla-t td {
  border-top: 0px;
}

.bottom-t {
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
}

.total-t {
  border-bottom: 5px double;
}

.balance-general-panel {
  width: 100%;
}

.multiple-row-cell-center {
  vertical-align: middle !important;
  text-align: center !important;
}

.left-border-cell {
  border-left: 1px solid #e9ecef;
}

.tabla-estado-resultados td {
  border-right: 1px solid #e9ecef;
}

.balance-totales-cells {
  border-top: 5px double  !important;
}

.botones-resultados {
  position: absolute;
  margin-top: -10rem !important;
}